{#
/**
 * @file program_keahlian.html.twig
 * Default theme implementation to present Program keahlian data.
 *
 * This template is used when viewing Program keahlian pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_program_keahlian()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('program_keahlian') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
