{#
/**
 * @file bidang_keahlian.html.twig
 * Default theme implementation to present Bidang keahlian data.
 *
 * This template is used when viewing Bidang keahlian pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bidang_keahlian()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bidang_keahlian') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
