{#
/**
 * @file kompetensi_keahlian.html.twig
 * Default theme implementation to present Kompetensi keahlian data.
 *
 * This template is used when viewing Kompetensi keahlian pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_kompetensi_keahlian()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('kompetensi_keahlian') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
